@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  max-width: $max-width;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 16px;
  color: $primaryBlack;
  background-color: $primaryWhite;
}

.fullvp {
  width: 100vw;
  padding-right: 0;
  padding-left: 0;
  margin-left: calc(50% - 50vw);
}

main {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
  letter-spacing: 0.05em;
}

.grid {
  max-width: $max-width;
  padding-right: $gutter;
  padding-left: $gutter;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5*$gutter;
  margin-left: -0.5*$gutter;
}

.col {
  padding-right: 0.5*$gutter;
  padding-left: 0.5*$gutter;
}

.col-sm-12 {
  width: 100%;
}

.row:nth-child(1) {
  order: 4;
}

.header {
  display: flex;
  width: 100%;
  padding-bottom: $gutter;
  margin: 0 auto;
  flex-direction: column;
  background-color: $primaryOrange;
  align-items: center;
}

.header__list {
  display: flex;
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 0.1em;
  flex-grow: 1;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.underlined {
  text-decoration: underline;
}

.header__li {
  align-self: center;
  padding: 2px;
}

@media (max-width: 500px) {
  .rowpriority {
    order: -1;
  }
}

@media (min-width: 501px) {
  .col-6 {
    width: 50%;
  }
  .col-4 {
    width: 50%;
  }
}

.box {
  box-sizing: border-box;
  margin-top: $gutter;
  margin-bottom: $gutter;
  border: 1px solid #000;
}

h2 {
  margin-bottom: 2*$gutter;
  font-family: Oswald, verdana, serif;
  font-size: 24px;
  font-style: bold;
}

.boximg {
  max-width: 100%;
}

h1 {
  padding-bottom: $gutter;
  font-family: Oswald, verdana, serif;
  font-size: 48px;
}

.header__row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
}

.whitespace {
  width: 100px;
}

.header__rightcorner {
  display: flex;
  width: 100px;
  flex-direction: row;
  justify-content: flex-end;
}

.footer {
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: $primaryBlue;
}

.footerlist {
  display: flex;
  font-family: "Open sans";
  line-height: 1.5;
  color: $primaryWhite;
  list-style: none;
  flex-direction: column;
}

.box__firstli {
  padding-bottom: 0.5*$gutter;
  font-family: verdana;
  font-size: 21px;
  color: $primaryBlack;
  text-decoration: none;
}

a {
  text-decoration: none;
  transition:color 200ms ease-in-out;
}

.footerlist a:visited {
  color: $primaryWhite;
}

.footerlist a:visited:hover {
  color: $primaryBlack;
}

.footerlist a:link {
  color: $primaryWhite;
}

.footerlist a:link:hover {
  color: $primaryBlack;
}

.header a:visited {
  color: $primaryBlack;
}

.copyright {
  padding: 2*$gutter;
  margin: 0 auto;
}

.pichover {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: $primaryWhite;
  opacity:0;
  transition: 200ms ease-in-out;
}

.text {
  font-family: "Open sans";
  color: $primaryBlack;
}

.text:first-child {
  font-family: Oswald, verdana, serif;
  font-size: 21px;
  font-weight: bold;
}

.pichover:hover .overlay {
  opacity:1;
}
.pichover:hover .boximg {
  opacity:0;
}

.col-sm-6 {
  width: 50%;
}

@media (min-width: 801px) {
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
}

.button {
  width: 260px;
  background-color: $primaryBlue;
  border: 0;
  border-radius: 4px;
  padding: 0.5*$gutter $gutter 0.5*$gutter $gutter;
  margin-top: 2*$gutter;
  font-family: "Open Sans";
  transition:color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.button:hover {
  color: $primaryWhite;
  background-color: $primaryOrange;
}

.top {
  background-color: $primaryOrange;
}

a:visited:hover {
  color: $primaryWhite;
}

a:hover {
  color: $primaryWhite;
}

a:active {
  color: $primaryWhite;
}

.header a:visited:hover {
  color: $primaryWhite;
}

.header a:link {
  color: $primaryBlack;
}

.header a:hover {
  color: $primaryWhite;
}

.product__img {
  max-width: 100%;
}

@import "scss/config.scss";
