@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  max-width: $max-width;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 16px;
  color: $primaryBlack;
  background-color: $primaryWhite;
}

.fullvp {
  width: 100vw;
  padding-right: 0;
  padding-left: 0;
  margin-left: calc(50% - 50vw);
}

main {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  letter-spacing: 0.05em;
}

.grid {
  max-width: $max-width;
  margin: 0 auto;
  padding-right: $gutter;
  padding-left: $gutter;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5*$gutter;
  margin-left: -0.5*$gutter;
}

.col {
  padding-right: 0.5*$gutter;
  padding-left: 0.5*$gutter;
}

.col-sm-12 {
  width: 100%;
}

.row:nth-child(1) {
  order: 4;
}



.header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-color: $primaryOrange;
  align-items: center;
  padding-bottom: $gutter;
}

.header__list {
  font-family: Open Sans;
  letter-spacing: 0.1em;
  font-weight: bold;
  width: 100%;
  flex: 1;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__li {
  padding: 2px;
}

@media (max-width: 500px) {
  .rowpriority {
    order: -1;
  }
}

@media (min-width: 501px) {
  .col-6 {
    width: 50%;
  }
}

.box {
  box-sizing: border-box;
  margin-top: $gutter;
  margin-bottom: $gutter;
  border: 1px solid #000;
}

h2 {
  margin-bottom: 2*$gutter;
  font-family: 'Oswald', verdana, serif;
  font-size: 24px;
  font-style: bold;
}

.boximg {
  max-width: 100%;
}

h1 {
  font-family: 'Oswald', verdana, serif;
  font-size: 48px;
  padding-bottom: $gutter;
}

.header__row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.header__rightcorner {
}

.footer {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: $primaryBlue;
}

.footerlist{
  display: flex;
  flex-direction: column;
  color: $primaryWhite;
  list-style: none;
  line-height: 1.5;
  font-family: open sans;
}

.box__firstli{
  color: $primaryBlack;
  font-size: 21px;
  padding-bottom: 0.5*$gutter;
  font-family: verdana;
  text-decoration: none;
}

li a {
  text-decoration:none
}

.footerlist li a:visited {
  color: $primaryWhite;
}

.footerlist li a:visited {
  color: $primaryWhite;
}

.header__list li a:visited {
  color: $primaryBlack;
}

.header__list li a:visited:hover {
  color: $primaryWhite;
}

.copyright{
  margin: 0 auto;
  padding: 2*$gutter;
}
.pichover{
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  height: 100%;
  width: 100%;
  opacity:0;
  transition: 200ms ease-in-out;
  background-color: $primaryWhite;
}
.text{
  font-family: open sans;
  color: $primaryBlack;
}
.text:first-child{
  font-family: 'Oswald', verdana, serif;
  font-weight: bold;
  font-size: 21px;
}

.pichover:hover .overlay{
  opacity:1;
}
.pichover:hover .boximg{
  opacity:0;
}

.col-sm-6 {
  width: 50%;
}

@media (min-width: 801px) {
  .col-3 {
    width: 25%;
  }
}

.button {
  background-color: $primaryBlue;
  border-radius: 4px;
  border: 0;
  width: 260px;
  margin-top: 2*$gutter;
  padding: 0.5*$gutter $gutter 0.5*$gutter $gutter;
  font-family: Open Sans;
}

.top {
    background-color: $primaryOrange;
}

a {
  transition:color 200ms ease-in-out;
}

a:visited:hover {
  color: $primaryWhite;
}

a:hover {
  color: $primaryWhite;
}

a:active {
  color: $primaryWhite;
}

@import "scss/config.scss";
